
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');

*{
    margin : 0; /* 마진값 초기화*/
    padding : 0; /*패딩값 초기화*/
    box-sizing: border-box;/*박스 영역은 테두리까지 지정*/
}
img{
    width:200px;
    height:150px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
#container{
    margin : 0 auto;
    width : 1200px;
}
header{
    width : 100%;
    height : 100px;
    background-color: blue;
}
#logo{
    float :left;
    width:250px;
    height:100px;
    margin-left:20px;
}
#logo h1{
    font-family: "Black And White Picture", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: white;
    line-height:70px
}
#logo p{
    font-family: "Black And White Picture", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
}
nav{
    float:right;
    width:900px;
    height:100px;
    padding-top: 10px;
}
#topMenu{
    height:90px;
}
#topMenu > li{
    float: left;
    position:relative;/*서브메뉴 absolute 로 지정위함*/
    width :225px;
}
#topMenu > li > a{
    display : block;
    color : #fff;
    font-weight:600;
    text-shadow : 0 1px #07c;
    padding : 20px 60px ;
}
#topMenu > li > a>span{
    font-size: 0.5em;
}
#topMenu > li > a:hover{
    color : #000;
    text-shadow: 0 -1px #07c;
}
#topMenu > li > ul{
    display:none;
    position : absolute;
    width:160px;
    background-color: rgb(255,255,255,0.6);
    left:20px;
    margin:0;
}
#topMenu > li > ul > li{
    padding : 10px 10px 10px 30px;
}
#topMenu > li > ul > li > a{
    font-size:14px;
    padding : 10px;
    color:#000;
}
#topMenu > li:hover>ul{
    display : block;
    z-index : 10;
}
#topMenu > li > ul > li > a:hover{
    color:#f00;
}
#contents{
    width : 100%;
    height : 500px;
}
#tapMenu{
    float:left;
    width:500px;
    height:100%;
    margin-top: 10px;
}
#tapMenu input[type="radio"]{
    display:none;/*라디오버튼 감추기*/
}
#tapMenu label{
    display:inline-block;/*탭을 가로배치*/
    margin : 0 0 ;
    padding: 15px 25px;
    font-weight:600;
    text-align: center;
    color:#aaa;
    border:1px solid transparent;
}
#tapMenu label:hover{/*마우스 포인터를 올렸을 때 label스타일*/
    color:#222;
    cursor: pointer;
}
#tapMenu input:checked +label{/*checked 된 input의 label스타일*/
    color: #b00;
    border: 1px solid #ddd;
    background-color: #eee;
}
.tabContent{
    display:none;
    padding : 20px 0 0;
    border-top : 1px solid #ddd;
}
.tabContent h2{
    display:none;
}
#notice ul{
    list-style: disc;/*채워진 원마커*/
    margin-left: 30px;
}
#notice ul li{
    font-size:16px;
    line-height: 2.5;
}
#gallery ul li{
    display : inline;
}
#tab1:checked~#notice,
#tab2:checked~#gallery{
    display:block;
}
#links{
    float:right;
    width:700px;
    height:100%;
    background-color: antiquewhite;
}
#links ul{
    padding : 0;
    overflow:auto;/*넘치는 항목은 감춤hidden*/
}
#links ul li{
    float : left;
    width:33%;
    text-align: center;
    margin:10px 0;
}
#links ul li a span{
    display:block;
    margin:0 auto;
    width:150px;
    height:150px;
    border-radius: 100%;
    border:1px solid #ddd;
    line-height: 150px;
}
footer{
    width:100%;
    height:100px;
    background-color: gray;
}